/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--bg);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--neon);
  border-radius: 10px;
}

body{
  background: var(--bg);
  color: white;
}

ul, li, button, a, p{
  font-family: "Poppins";
}

ul li:hover{
  color: var(--neon);
}
.rotate-45 {
  transform: rotate(270deg);
}
nav{
  position: relative;
  z-index: 999;
}


.container{
  width: 1280px;
  margin: 0 auto;
}
#logo{
  font-family: "Lexend", ;
  font-size: 48px;
  font-weight: 700;
  color: var(--bg);
  text-shadow: 
  1px 0 0 #C9F31D,
  -1px 0 0 #C9F31D,
  0 1px 0 #C9F31D,
  0 -1px 0 #C9F31D,
  1px 1px #C9F31D,
  -1px -1px 0 #C9F31D,
  1px -1px 0 #C9F31D,
  -1px 1px 0 #C9F31D;
}

#banner{
  position: relative;
}

#button span svg path{
  fill: var(--bg);
}


#button:hover span {
  background: #000;
  fill: #C9F31D;
}
#button:hover svg path{
  fill: #C9F31D;
}
#button{
  cursor: pointer;
}
#name{
  font-family: "Lexend", ;
  color: var(--bg);
  line-height: auto;
  text-shadow: 
  1px 0 0 #ffff,
  -1px 0 0 #ffff,
  0 1px 0 #ffff,
  0 -1px 0 #ffff,
  1px 1px #ffff,
  -1px -1px 0 #ffff,
  1px -1px 0 #ffff,
  -1px 1px 0 #ffff;
  cursor: pointer;
  animation: glitch 0.5s ;
}
#name:hover{
  animation: glitch 1.5s infinite;
}
.shapePurple{
  width: 152px;
  border-radius: 100%;
  height: 152px;
  background: var(--purple);
  box-shadow: var(--shapeBoxShadow);
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: -1;
  animation: placeChange 10s infinite linear;
}
.shapeBlue{
  width: 152px;
  border-radius: 100%;
  height: 152px;
  background: var(--blue);
  box-shadow: var(--shapeBoxBlue);
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: -1;
  animation: placeChange 5s infinite linear;
}
.marquee{
  font-family: "Lexend", ;
  font-size: 48px;
  font-weight: 700;
  background: var(--neon);
  padding: 40px 0px;
  display: flex;
  
  
}

.marquee h2,h3,h4{
  display: inline-block;
  font-size: 72px;
  font-weight: 700;
  font-family: "Lexend", ;
  color: var(--bg);
  margin: 0 64px; 
}
.marquee span svg{
  display: inline-block;
  color: var(--bg);
  margin-bottom: 20px;
}
.marquee h3{
  color: var(--neon);
  text-shadow: 
  1px 0 0 var(--bg),
  -1px 0 0 var(--bg),
  0 1px 0 var(--bg),
  0 -1px 0 var(--bg),
  1px 1px var(--bg),
  -1px -1px 0 var(--bg),
  1px -1px 0 var(--bg),
  -1px 1px 0 var(--bg);
}
.about .aboutImg{
  position: relative;
}

.about .aboutImg:hover .p1{
  border: 2px solid var(--neon);
}
.about .aboutImg:hover .p2{
  border: 2px solid var(--neon);
}

.about .aboutImg .p1, .p2{
  position: absolute;
  top: 40%;
  left: -20%;
  color: var(--bg);
  border: 2px solid white;
}
.about .aboutImg .p2{
  position: absolute;
  top: 65%;
  left: -30%;
  color: var(--bg);
}

.about .aboutImg:hover {
  box-shadow: 

    0 0 60px var(--neon),
    0 0 70px var(--neon);
    
}

.about .aboutImg .aboutShape{
  position: absolute;
  top: -5%;
  left: -40%;
  animation: rotation 20s infinite linear;

}

.service h3{
  color: white;
  font-size: 36px;
  font-weight: 700;
  font-family: "Lexend", sans-serif;
  margin: 0;

}

.service .box {
  border: 1px solid var(--bg) ;
  cursor: pointer ;
}

.service  .box:hover {
  border: 1px solid var(--neon);
}

.service  .box span svg path{
  fill: white;
}
.service  .box:hover span svg path{
  fill: var(--neon);
}

.service{
  position: relative;
  background: url(../assets/lines.png);
}
.service .lines{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.seriveShape{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);

}


.skill{
  background: url(../assets/line.png);
  background-repeat: repeat-x;
  position: relative;
}

.skill .line{
  position: absolute;
  width: 1064px;
  height: 5px;
  background: rgba(200, 243, 29, 0.11);
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  box-shadow: 0 0 100px 100px rgba(200, 243, 29, 0.11);
  animation: scale 2s infinite linear;

}
.skill .container{
  background: #000;
  padding: 70px 0;
  padding-left: 120px;
  
}

.skill .box{
  border: 1px solid var(--bg);
  cursor: pointer;
  position: relative;
  z-index: 2;

}



.skill .box:hover{
  border: 1px solid var(--neon);
}
.skill .box:hover .percent{
  background: var(--neon);
  padding: 4px 38px;
  color: var(--bg);
  border-radius: 20px;
}
.skill h3{
  font-size: 28px;
  font-weight: 700;
  color: white;
}

.skill .percent{
  font-size: 28px;
  font-weight: 700;
  background: var(--bg);
  padding: 4px 38px;
  color: gray;
  border-radius: 20px;
}
.skill .box svg{
  width: 60px;
  height: 60px;
}

.projects .img{
  width: 645px;
  height: 500px;
  background: #D9D9D9;
  border-radius: 10px;
}

.projects .project .description{
  width: 40%;
}

.projects .project h3{
  color: white;
  font-size: 42px;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 17px;
  
}
.projects  .project button{
  padding: 9px;
  background: black;
  border-radius: 100%;
  cursor: pointer;
}
.projects  .project button:hover{
  background: var(--neon);
}
.projects  .project button:hover path{
  fill: var(--bg);
}
.projects  .project button svg path{
  fill: white;

}
.projects .view-more span{
  background: #000;
  border-radius: 100%;
  margin-left: 14px;
  padding: 9px;
}
.projects .view-more:hover span{
  background: var(--neon);
}
.projects .view-more:hover path{
  fill: var(--bg);
}
.projects .view-more{
  font-size: 32px;
  font-weight: 700;
  color: white;
  margin-top: 163px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.projects {
  position: relative;
}
.projects .glow-line{
  height: 1665px;
  width: 5px;
  background: rgba(200, 243, 29, 0.11);
  box-shadow: 0 0 200px 200px rgba(200, 243, 29, 0.11);
  position: absolute;
  top: 20%;
  left: 50%;
  animation: scale2 2s infinite linear;
  z-index: -1;

}
.projects .img{
overflow-y: scroll;
}


.blog .cards .card{
  width: 630px;
  height: 227px;
  border: 2px solid var(--bg);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .5s ease-in-out;

}
.blog .cards .card:hover{
  width: 630px;
  height: 227px;
  border: 2px solid var(--neon);
  border-radius: 20px;
}
.blog .cards .card .img{
  width: 209px;
  height: 191px;
  border-radius: 20px;
  background: var(--bg);
}

.blog .cards .card h5{
  font-size: 32px;
  width: 295px;
  font-weight: 700 ;
  font-family: "Lexend";
}
.blog .cards .card .img{
/* background: url(../assets/blogImg.jpg); */
background-position: center;
background-size: cover;
overflow: hidden;


}
.blog .cards .card:hover img{
  transform: scale(1.3);
  transition: .5s ease-in-out;
}






.footer{
  background: url(../assets/lines.png);
}



@keyframes glitch {
  50% {
    filter: blur(10px);
    transform: skew(5deg);
  }
  100% {
    filter: blur(0px);
    transform: skew(0deg);
  }
}
@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes scale{
  0%{
    box-shadow: 0 0 100px 100px rgba(200, 243, 29, 0.11);
  }
  50%{
    box-shadow: 0 0 150px 150px rgba(200, 243, 29, 0.11);
  }
  100%{
    box-shadow: 0 0 100px 100px rgba(200, 243, 29, 0.11);
  }
}
@keyframes scale2{
  0%{
    box-shadow: 0 0 150px 150px rgba(200, 243, 29, 0.11);
  }
  50%{
    box-shadow: 0 0 200px 200px rgba(200, 243, 29, 0.11);
  }
  100%{
    box-shadow: 0 0 150px 150px rgba(200, 243, 29, 0.11);
  }
}
@keyframes placeChange{
  0%{
    transform: translateX(0%);
  }
  50%{
    transform: translateX(50%);
  }
  100%{
    transform: translateX(0%);
  }

}
@keyframes pulse {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.1);
  }

  100% {
      transform: scale(1);
  }
}