@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", serif; */
/* font-family: "Lexend", serif; */

:root{
  --neon: #C9F31D;
  --bg: #131313;
  --purple: rgba(47, 17, 30, 0.514);
  --blue: rgba(82, 73, 206, 0.205);
  --shapeBoxShadow: 0 0 100px 100px var(--purple);
  --shapeBoxBlue: 0 0 100px 100px var(--blue);
}

body{
  background: var(--bg);
  color: white;
}

ul, li, button, a, p{
  font-family: "Poppins";
}

ul li:hover{
  color: var(--neon);
}
.rotate-45 {
  transform: rotate(270deg);
}
nav{
  position: relative;
  z-index: 999;
}


.container{
  width: 1280px;
  margin: 0 auto;
}
#logo{
  font-family: "Lexend", ;
  font-size: 48px;
  font-weight: 700;
  color: var(--bg);
  text-shadow: 
  1px 0 0 #C9F31D,
  -1px 0 0 #C9F31D,
  0 1px 0 #C9F31D,
  0 -1px 0 #C9F31D,
  1px 1px #C9F31D,
  -1px -1px 0 #C9F31D,
  1px -1px 0 #C9F31D,
  -1px 1px 0 #C9F31D;
}

#banner{
  position: relative;
}

#button span svg path{
  fill: var(--bg);
}


#button:hover span {
  background: #000;
  fill: #C9F31D;
}
#button:hover svg path{
  fill: #C9F31D;
}
#button{
  cursor: pointer;
}
#name{
  font-family: "Lexend", ;
  color: var(--bg);
  line-height: auto;
  text-shadow: 
  1px 0 0 #ffff,
  -1px 0 0 #ffff,
  0 1px 0 #ffff,
  0 -1px 0 #ffff,
  1px 1px #ffff,
  -1px -1px 0 #ffff,
  1px -1px 0 #ffff,
  -1px 1px 0 #ffff;
}
.shapePurple{
  width: 152px;
  border-radius: 100%;
  height: 152px;
  background: var(--purple);
  box-shadow: var(--shapeBoxShadow);
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: -1;
}
.shapeBlue{
  width: 152px;
  border-radius: 100%;
  height: 152px;
  background: var(--blue);
  box-shadow: var(--shapeBoxBlue);
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: -1;
}
#marquee{
  font-family: "Lexend", ;
  font-size: 48px;
  font-weight: 700;
  background: var(--neon);
  padding: 40px 0px;
  display: flex;
  
  
}

#marquee h2,h3,h4{
  display: inline-block;
  font-size: 72px;
  font-weight: 700;
  font-family: "Lexend", ;
  color: var(--bg);
  margin: 0 64px; 
}
#marquee span svg{
  display: inline-block;
  color: var(--bg);
  margin-bottom: 20px;
}
#marquee h3{
  color: var(--neon);
  text-shadow: 
  1px 0 0 var(--bg),
  -1px 0 0 var(--bg),
  0 1px 0 var(--bg),
  0 -1px 0 var(--bg),
  1px 1px var(--bg),
  -1px -1px 0 var(--bg),
  1px -1px 0 var(--bg),
  -1px 1px 0 var(--bg);
}
#about #aboutImg{
  position: relative;
}

#about #aboutImg:hover .p1{
  border: 2px solid var(--neon);
}
#about #aboutImg:hover .p2{
  border: 2px solid var(--neon);
}

#about #aboutImg .p1, .p2{
  position: absolute;
  top: 40%;
  left: -20%;
  color: var(--bg);
}
#about #aboutImg .p2{
  position: absolute;
  top: 65%;
  left: -30%;
  color: var(--bg);
}

#about .grid:hover .aboutShape{
  border-radius: 100%;
  box-shadow: 

    0 0 60px var(--neon),
    0 0 70px var(--neon);
    fill: var(--bg);
}

#about #aboutImg .aboutShape{
  position: absolute;
  top: -5%;
  left: -40%;
  animation: rotation 10s infinite linear;

}

@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}