@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", serif; */
/* font-family: "Lexend", serif; */

:root{
  --neon: #C9F31D;
  --bg: #131313;
  --purple: rgba(47, 17, 30, 0.514);
  --blue: rgba(82, 73, 206, 0.205);
  --shapeBoxShadow: 0 0 100px 100px var(--purple);
  --shapeBoxBlue: 0 0 100px 100px var(--blue);
}